html{
    font-size: 2.5vmax;
    font-size: max(2.5vh);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: rgb(14, 17, 0);
}
body{
    font-size:0.9em; /* Change this for general text size */
}